.side-header
  .side-header__box
    %p.side-header__box__user-name aaaa
    %ul.side-header__box__menu
      %li.side-header__box__menu__edit-user
        %a{:href => "/groups/new"}
          %i.fa.fa-edit
      %li.side-header__box__menu__new-group
        %a{:href => "/users/26/edit"}
          %i.fa.fa-cog



<div class="side-header">
  <div class="side-header__box">
    <p class="side-header__box__user-name">aaaa</p>
    <ul class="side-header__box__menu">
      <li class="side-header__box__menu__edit-user">
        <a href="/groups/new">
          <i class="fa fa-edit"></i>
        </a>
      </li>
      <li class="side-header__box__menu__new-group">
        <a href="/users/26/edit">
          <i class="fa fa-cog"></i>
        </a>
      </li>
    </ul>
  </div>
</div>





.form
  %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/33/messages", :enctype => "multipart/form-data", :method => "post"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "TB+uCfokgrvdrnfEhhD6jlFkGe5TulhsXrX39QQOWU+U+/dsrTHRJcKFM3Dr3n9Ka6YJHMWzxyv/3pm2agp/JA=="}/
    .input-box
      %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
      %label.input-box__image{:for => "message_image"}
        %i.fa.fa-image
        %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
    %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/


<div class="form">
  <form class="new_message" id="new_message" enctype="multipart/form-data" action="/groups/33/messages" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" value="TB+uCfokgrvdrnfEhhD6jlFkGe5TulhsXrX39QQOWU+U+/dsrTHRJcKFM3Dr3n9Ka6YJHMWzxyv/3pm2agp/JA==">
    <div class="input-box">
      <input placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content">
      <label class="input-box__image" for="message_image">
        <i class="fa fa-image"></i>
        <input class="input-box__image__file" type="file" name="message[image]" id="message_image">
      </label>
    </div>
    <input type="submit" name="commit" value="Send" class="submit-btn" data-disable-with="Send">
  </form>
</div>


<form action="./filesend.cgi" method="post" enctype="multipart/form-data">
   <!-- ====================== -->
   <!-- ▼ファイル選択フォーム -->
   <!-- ====================== -->
   <label>
      <!-- ▽見せる部分 -->
      <span class="filelabel" title="ファイルを選択">
         <img src="camera-orange-rev.png" width="32" height="26" alt="＋画像">
         選択
      </span>
      <!-- ▽本来の選択フォームは隠す -->
      <input type="file" name="datafile" id="filesend">
   </label>
   <!-- ========== -->
   <!-- ▲ここまで -->
   <!-- ========== -->
</form>


.filelabel {
   background-color: orange;  /* 背景色 */
   color: white;              /* 文字色 */
   border: 2px solid orange;  /* 枠線 */
   border-radius: 3em;        /* 角丸 */
   padding: 12px 9px;         /* 内側の余白 */
   display: inline-block;     /* インラインブロック化 */
}
.filelabel img {
   vertical-align: bottom;    /* 画像の垂直方向の配置 */
}
.filelabel:hover {
   opacity: 0.5;              /* 半透明 */
   border: 2px solid red;     /* 枠線(赤色) */
   cursor: pointer;           /* マウス形状(ポインタ) */
}
#filesend {
   display: none;  /* 本来のファイル選択フォームは非表示に */
}




















