.chat-main {
  background-color: #eeeeee;
  width: calc(100% - 273px);
  float: right;
  height: 100%;
}
.main-header {
  background-color: $white;
  height: 91px;
  padding: 0 37px;
  &__box {
    padding-top: 30px;
    &__title {
      color: #333333;
      margin-bottom: 12px;
      font-size: 20px;
      display: flex;
    }
    &__member {
    display: inline-flex;
    color: $light_gray;
    font-size: 11px

    }
    &--edit {
      color: $light_blue;
      height: 40px;
      padding: 0 20px;
      float: right;
      line-height: 40px;
      margin-top: 23px;
      border: solid 1px;
    }
  }
}

.messages {
  overflow: scroll;
  height: calc(100% - 260px);
  width: calc(100% - 74px);
  padding: 43px 37px ;
  .message {
    padding-bottom: 40px;
    &-box {
      display: flex;
      &__text {
      font-size: 14px;
      color: $black;
      padding-top: 7px;
      clear: both;
      }
      &__person {
        &--name{
          font-size: 16px;
          color: $black;
          float: left;
          font-weight: bold;
        }

        &--timestamp {
          font-size: 12px;
          float:left;
          padding-left: 10px;
          color: $light_gray;
        }
      }
    }
  }
}
