$width-side: 273px;
$height-side: 63px;





.side-header {
  background-color: #2f3e51;
  height: 100%;
  float: left;
  position: relative;
  width: $width-side;
}

.header {
  background-color: #253141;
  height: $height-side;
  width: $width-side;
  padding-top: 28px;
  &__name {
    color: #FFFFFF;
    position: absolute;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin-top:6px;
  }
}
.icon-2{
  color: #FFFFFF;
  float: right;
  font-size: 13px;
  padding-right: 4px;
  margin-top:6px;
  padding-top: 4px;
}

.icon-1 {
  color: #FFFFFF;
  float: right;
  font-size: 13px;
  padding-right: 14px;
  margin-top:6px;
  padding-top: 4px;
}


// .groups {
//   margin: 20px 20px 0;
//   .group {
//     box-sizing: border-box;
//     margin-bottom: 40px;
//     &__name {
//       color: #FFFFFF;
//       font-size: 15px;
//       margin-bottom: 5px;
//     }
//     &__message {
//         color: #FFFFFF;
//         font-size: 11px;
//     }
//   }
// }


.groups {
  height: calc(100vh - 100px);
  padding: 0 20px;
  .group {
    box-sizing: border-box;
    padding: 20px 0 40px;
    &__name {
      color: #FFFFFF;
      font-size: 15px;
      margin-top: 5px;
    }
    &__message {
      color: #FFFFFF;
      font-size: 11px;
    }
  }
}

.groups {
  // background-color: $side_blue_light;
  height: calc(100vh - 100px);
  padding: 0 20px;
  .group {
    box-sizing: border-box;
    padding: 20px 0 40px;
    &__name {
      color: #FFFFFF;
      font-size: 15px;
    }
    &__message {
      color: #FFFFFF;
      font-size: 11px;
      margin-top: 5px;
    }
  }
}
